body
{background-color: #E1EAE2;}
h1 
{text-align : center;
color: #4A5356;
font-weight: bold;
text-decoration: underline;}
div#contact
{text-align: center;
color : #272827;
}
h2
{background-color: #B8B4E8;}

.year 
{color: #4A5356;
font-size: 120%;}