body
{background-color: #E1EAE2;
font-family: "Andele Mono";
font-size: 20px}

h1 
{text-align : center;
color: #744F8C;
font-weight: bold;
}

h2
{background-color: #635482;
background-image:-moz-linear-gradient(left, #E1EAE2, #635482);
border-radius:-moz-linear-gradient(left, #E1EAE2, #635482);
border-radius: 15px;}

div#contact
{text-align: center;
color : #272827;
font-size : 20px;
border-style: double;
border-radius: 15px;
border-color: #744F8C;}

.year 
{color: #744F8C;
font-size: 22px;}

p
{margin-top : 10px;
margin-left: 5px;}

table
{margin: left;}

td
{width : 620px;
height: 80px;}
